# Application
NODE_ENV=development
PORT=3000
JWT_SECRET=supersecretjwtkey_change_me_in_production
JWT_EXPIRES_IN=5d

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=drowven
DB_USER=drowven_user
DB_PASSWORD=drowven_password
